<%- include('./includes/head.ejs') %>
</head>
<body>
    
    <%- include('./includes/navigation.ejs') %>
<div class="container">
    <h2 class="page-title">404 Page</h2>

    <div class="p404">
        <h3>404</h3>
        <p>Страница не найдена</p>
        <small>Страница на которую вы вошли, была удалена или перемещена по другому адресу!</small>
        <a href="/">Вернуться на главную</a>
    </div>
</div>

<%- include('./includes/newslatter.ejs') %>
<%- include('./includes/footer.ejs') %>

<%- include('./includes/end.ejs') %>