<%- include('../../includes/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">

</head>
<body>

<%- include('../../includes/navigation.ejs') %>
<div class="container">
    <h2 class="page-title"><i class="uil uil-shopping-basket"></i> Shop 🌌</h2>
</div>

<!-- ----------------------- -->

<%- include('../../includes/shop-navigation.ejs') %>

<header class="header">
    <div class="header__content">
        <img src="https://medicalstore.sboxdemo.ru/images/other/2.jpg" alt="bg">
        <div class="container">
            <h3 class="header__title">Доставка медецинского оборудования</h3>
            <p class="header__description">Быстрая и надежная доставка медицинского оборудования в любую точку. Качественные изделия от ведущих производителей. Опыт работы с клиниками и больницами. Безопасная и точная доставка. Упрощаем процесс доставки. Свяжитесь с нами для получения подробной информации.</p>
            <button class="header__btn">Подробнее</button>
        </div>
    </div>
</header>

<section class="about">
    <div class="container">
        <h3 class="about__title">О Компании</h3>
        <p class="about__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        </p>
        <p class="about__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum 
            dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur 
            adipisicing elit, sed do 
        </p>

        <!-- ADVANTAGES -->
        <%- include('../../includes/advantages.ejs') %>
    </div>
</section>

<section class="catalog">
    <div class="container">
        <h3 class="catalog__title">Каталог</h3>

        <div class="catalog__items">
            <div class="catalog__item">
                <img src="https://www.nt-med.ru/wp-content/uploads/2019/06/KAP-MT-8.jpg" alt="">
                <div class="catalog__sub-title">Lorem ipsum dolor</div>
            </div>
            <div class="catalog__item">
                <img src="https://cdn.bimedis.com/search/modelimg/25766_searchImg_0_sizeWidth.jpg" alt="">
                <div class="catalog__sub-title">Lorem ipsum dolor</div>
            </div>
            <div class="catalog__item">
                <img src="https://netrinoimages.s3.eu-west-2.amazonaws.com/2018/08/20/540075/207137/otolaryngologist_table_3d_model_c4d_max_obj_fbx_ma_lwo_3ds_3dm_stl_2185728_o.jpg" alt="">
                <div class="catalog__sub-title">Lorem ipsum dolor</div>
            </div>
            <div class="catalog__item">
                <img src="https://global-mt.ru/images/stories/virtuemart/product/siemens-arcadis-orbic-full.png" alt="">
                <div class="catalog__sub-title">Lorem ipsum dolor</div>
            </div>
        </div>

        <a href="/products">All items</a>
    </div>
</section>

<div class="container">
    <div class="line-divider"></div>
</div>

<section class="partners">
    <div class="container">
        <h3 class="partners__title">Наши партнеры</h3>

        <div class="partners__items">
            <img src="/img/partner.png" alt="">
            <img src="https://abali.ru/wp-content/uploads/2017/10/smeshariki-ch-b.png" alt="">
            <img src="https://logos-download.com/wp-content/uploads/2016/02/Intel_Logo_2006.png" alt="">
            <img src="https://mms.businesswire.com/media/20220124005613/en/723602/5/Uber_Logo_Black_RGB.jpg" alt="">
            <img src="https://www.freedownloadlogo.com/logos/a/apple-57638.svg" alt="">
            <img src="https://автоинфо.рус/wp-content/uploads/2021/08/Bugatti-Logo.png" alt="">
            <img src="https://clipground.com/images/coming-soon-logo-clipart-9.png" alt="">
            <img src="https://i.pinimg.com/originals/43/80/95/438095f20cf956daf2880e9efe8f7dd0.png" alt="">
        </div>
    </div>
</section>


<%- include('../../includes/newslatter.ejs') %>

<%- include('../../includes/footer.ejs') %>

<!-- ----------------------- -->

<%- include('../../includes/end.ejs') %>