<%- include('../../includes/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">

</head>
<body>

<%- include('../../includes/navigation.ejs') %>
<div class="container">
    <h2 class="page-title"><i class="uil uil-shopping-basket"></i> Shop 🌌</h2>
</div>

<!-- ----------------------- -->

<%- include('../../includes/shop-navigation.ejs') %>

<div class="main-title">Услуги</div>

<div class="services">
    <div class="container">
        <div class="services__item">
            <div class="services__img">
                <img src="/img/services/1.jpg" alt="a service">
            </div>

            <div class="services__content">
                <h3 class="services__title">Lorem ipsum dolor sit amet.</h3>
                <h3 class="services__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint minima odio pariatur. Est consequatur in optio, temporibus ratione deserunt laborum alias, molestias eligendi delectus praesentium tenetur porro quisquam ut cumque. Quis eius, perspiciatis illum quos amet consequuntur itaque totam aliquid.</h3>
            </div>
        </div>

        <div class="services__item">
            <div class="services__img">
                <img src="/img/services/2.jpg" alt="a service">
            </div>

            <div class="services__content">
                <h3 class="services__title">Lorem ipsum dolor sit amet.</h3>
                <h3 class="services__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint minima odio pariatur. Est consequatur in optio, temporibus ratione deserunt laborum alias, molestias eligendi delectus praesentium tenetur porro quisquam ut cumque. Quis eius, perspiciatis illum quos amet consequuntur itaque totam aliquid. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, consectetur.</h3>
            </div>
        </div>

        <div class="services__item">
            <div class="services__img">
                <img src="/img/services/3.jpg" alt="a service">
            </div>

            <div class="services__content">
                <h3 class="services__title">Lorem ipsum dolor sit amet.</h3>
                <h3 class="services__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint minima odio pariatur. Est consequatur in optio, temporibus ratione deserunt.</h3>
            </div>
        </div>

        <div class="services__item">
            <div class="services__img">
                <img src="/img/services/4.jpg" alt="a service">
            </div>

            <div class="services__content">
                <h3 class="services__title">Lorem ipsum dolor sit amet.</h3>
                <h3 class="services__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint minima odio pariatur. Est consequatur in optio, temporibus ratione deserunt laborum alias, molestias eligendi delectus praesentium tenetur porro quisquam ut cumque. Quis eius, perspiciatis illum quos amet consequuntur itaque totam aliquid. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, voluptatibus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, soluta?</h3>
            </div>
        </div>
    </div>
</div>


<%- include('../../includes/newslatter.ejs') %>

<%- include('../../includes/footer.ejs') %>

<!-- ----------------------- -->

<%- include('../../includes/end.ejs') %>